<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{question.subject}}</title>
</head>
<body>
    질문 : {{question.subject}}
    {% if question.vs_or_not %}
    <ul>
        <li>{{question.side_1}}</li>
        <li>{{question.side_2}}</li>
    </ul>
    {% endif %}
    <ol>
        &lt&lt RESPONSE &gt&gt
        <li>like : {{question.like}}</li>
        <li>dislike : {{question.dislike}}</li>
        <li>conflict : {{question.conflict}}</li>
    </ol>
    <ul>
        &lt&lt COMMENTS &gt&gt
        {% if comments %}
        {% for comment in comments %}
            <li>{{comment.comment}} / {{comment.create_date}}</li>
        {% endfor %}
        {% endif %}
        {% if not comments %}<br>
        comment를 남겨주세요.
        {% endif %}
    </ul>
    <button type="button" class="btn">
        <a href="/blog/post/{{question.id}}/question-modify">수정</a>
    </button>

    <button type="button" class="btn">
        <a href="/blog/post/{{question.id}}/question-delete">삭제</a>
    </button> 

    <!--이거는 질문 목록 보여주는 html에 추가해야 함-->
    <button type="button" class="btn">
        <a href="/blog/post/question">질문생성</a>
    </button> 
</body>
</html>